# Dateien ausschließen
typo3.tar.gz
typo3/index.php

# Ordner ausschließen
.git
.github
.idea/

#typo3/.htaccess
typo3/fileadmin/_processed_
typo3/fileadmin/_temp_
typo3/fileadmin/user_upload
typo3/fileadmin/files

typo3/typo3
typo3/typo3_src
typo3/typo3_src-10.4.18
typo3/typo3temp
typo3/uploads
typo3/typo3conf/
typo3/typo3conf/*
!typo3/typo3conf/ext
