typo3.tar.gz
typo3cms

typo3/typo3conf/autoload/
typo3/typo3conf/l10n/
typo3/typo3conf/sites/
typo3/typo3conf/AdditionalConfiguration.php
typo3/typo3conf/ENABLE_INSTALL_TOOL
typo3/typo3conf/LocalConfiguration.php
typo3/typo3conf/MwCachingConfiguration.php
typo3/typo3conf/PackageStates.php

typo3/typo3temp/

typo3/typo3/
typo3/typo3_src/
typo3/typo3_src-10.4.18/
typo3/INSTALL.txt
typo3/README.txt
typo3/RELEASE_NOTES.txt

#mac related files
._.DS_Store
*._.DS_Store*
.DS_Store
*.DS_Store
*.DS_Store*

#phpstorm related files
.idea
stats/
cgi-bin/
